<script type="text/javascript">
  var a = JSON.parse('<%= raw @photos_json %>'); 
  var b = JSON.parse('<%= raw @gall_json %>'); 

  $(document).ready(function () {
  });

  $(document).ready(update_tag(a));
</script>
<div class="content">
  <div class="column second">
    <% Gallery.all.each_with_index do |gallery,index| %>
      <div class="line" id-g="<%= gallery.id %>">
        <div class="name">
          <span><%= gallery.name %></span>
        </div>
        <div class="button-left" onclick="left_click(<%=index%>)">
          <span></span>
        </div>
        <div class="line2">
          <div class="image">
            <ul>
              <% gallery.photos.each do |photo| %>
                <li>
                  <%= link_to photo.image.url(:original), rel: "prettyPhoto[pp_gal_#{index}]" do %>
                    <%= image_tag photo.image.url(:gallery), 
                        alt: photo.alt,
                        title: photo.title %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="button-right" onclick="right_click(<%= index %>)">
          <span></span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="column third">
    <div id="name"></div>
    <br />
    <br />
    <div id="content"></div>
  </div>
  <%= render 'shared/footer' %>
</div>
